@import "../../styles/abstracts";

.hero {
	padding: 8px var(--section-horizontal-padding) 50px;
	background-color: var(--black);
	color: var(--white);

	@media screen and (min-width: #{$screen-medium}) {
		padding: 50px var(--section-horizontal-padding) 55px;
	}
}

.description {
	p {
		font-size: var(--lg-text);
		opacity: 0;
		transform: translate3d(0, 0, 0);
		animation: fade-in 0.45s ease-out 2.4s forwards;

		@media screen and (min-width: #{$screen-medium}) {
			animation-delay: 0.4s;
		}

		&:nth-last-of-type(1) {
			animation-delay: 2.55s;

			@media screen and (min-width: #{$screen-medium}) {
				animation-delay: 0.55s;
			}
		}
	}
}

@keyframes fade-in {
	0% {
		transform: translate3d(0, 25px, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0px, 0);
	}
}

@media screen and (min-width: #{$screen-medium}) {
	@keyframes fade-in {
		0% {
			transform: translate3d(0, 50px, 0);
		}

		to {
			opacity: 1;
			transform: translate3d(0, 0px, 0);
		}
	}
}
