@import "../../styles/abstracts";

.clients {
	padding: 35px var(--section-horizontal-padding) 52px;
	background-color: var(--grey);

	@media screen and (min-width: #{$screen-medium}) {
		padding: 40px var(--section-horizontal-padding);
		display: flex;
		justify-content: flex-end;
		position: relative;
		z-index: 20;
		mix-blend-mode: difference;
	}
}

.clientsList {
	list-style-type: none;
	font-size: var(--lg-title);
	line-height: 1.2;
	font-weight: 300;
	z-index: 20;

	@media screen and (min-width: #{$screen-medium}) {
		width: 50%;
	}

	li {
		margin: 10px 0;
	}
}
