@import "../../styles/abstracts";

.teamMemberCard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-top: thin solid var(--white);
  padding-top: 18px;
  font-size: var(--md-text);
  font-weight: 300;

  @media screen and (min-width: #{$screen-large}) {
    grid-template-columns: 1fr;
    grid-row-gap: 18px;
    border-top: none;
    padding-top: 0;
  }
}

.avatar {
  grid-column: 2/3;
  width: 100%;
  border-radius: 26px;

  @media screen and (min-width: #{$screen-large}) {
    grid-column: 1/2;
  }
}

.person {
  grid-column: 1/2;
  grid-row: 1;

  @media screen and (min-width: #{$screen-large}) {
    grid-row: 2;
  }
}

.role {
  opacity: 0.5;
}
