.header {
  padding: 66px var(--section-horizontal-padding) 0;
  color: var(--white);
}

.logo {
  svg {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
    animation: fade-in 0.45s ease-out 0.25s forwards;
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
