.header {
  padding: 0 var(--section-horizontal-padding);
  color: var(--white);
}

.logo {
  path {
    animation: push-path 0.3s ease-out;
    transform: translate3d(0, 0, 0);

    &:nth-child(2) {
      animation-delay: 0.1s;
    }

    &:nth-child(3) {
      animation-delay: 0.2s;
    }

    &:nth-child(5) {
      animation-delay: 0.3s;
    }

    &:nth-child(4) {
      animation-delay: 0.4s;
    }
  }
}

@keyframes push-path {
  0% {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(0, -25px, 0);
  }

  90% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
