@import "../../styles/abstracts";

.footer {
	min-height: 100vh;
	position: sticky;
	bottom: 0;
	background-color: var(--grey);
	padding: 45px var(--section-horizontal-padding) 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@media screen and (min-width: #{$screen-large}) {
		padding: 50px var(--section-horizontal-padding) 36px;
	}
}

.contactInfo {
	margin-bottom: 20px;
	font-size: var(--md-title);
	font-weight: 300;

	& > div {
		margin-bottom: 30px;
	}

	h4 {
		font-size: var(--md-title);
	}
}

.links {
	opacity: 0.5;
}
